<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
 <HEAD>
 <link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen"/>
  <TITLE> Login</TITLE>

 </HEAD>

 <BODY>
 
  <?php include "./header.html" ?>
   <form action="action_page.php">
  <div class="box_signin">
	<p type = "p_welcome">Welcome to Sentry!</p>
	<p type = "p_2">Track your home security real time</p>
	<p type = "p_3">DO you want to Register?</p>

  </div>
	
<button type="sign_in" style ="color: #"class="sign_in"><b><a href="Login_Signin.html">Previous</a></b></button>


  </div>
  
  <div class="container">
    
	<p type ="p_reg">Login</p>

    <label type="email"><b>Email</b></label>

	 <input type="email" placeholder="Enter Email" name="email" id="email" required>


    <label type="password"><b>Password</b></label>

    <input type="password" placeholder="Enter Password" name="password" id="password" required>

    

    <button type="submit" style ="color: #"class="registerbtn">Login</button>
  </div>

</form>
 </BODY>
</HTML>
