<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="nav_style.css">

</head>
<body>
  <div class="nav">
	<ul>
	<img src="emma_home.png">
	<li>Emma's Home</li>
	<br>
	<li><a href="#Livingroom">Living Room</a></li>
	<li><a href="#Kitchen">Kitchen</a></li>
	<li><a href="#Bedroom1">Bedroom1</a></li>
	<li><a href="#Foyer">Foyer</a></li>
	<br>
	<br>
	<li>--------</li>
    <li><a href="#AddNewRoom">Add New Room</a></li>
    <li><a href="#Settings">Settings</a></li>
     </ul>
    </div>

  <div class="text">
  <h1>My sentry</h1>
  <p>Some text..</p>
  <p>Some text..</p>
  <p>Some text..</p>
  <p>Some text..</p>
  <p>Some text..</p>
  <p>Some text..</p>
  <p>Some text..</p>
  </div>

	</body>
</html>



