body {
  font-size: 28px;
  font-weight: bold;
}
ul{
	list-style-type: none;
	margin:0;
	padding: 0;
	width: 25%;
	background-color: #293242;
	position: fixed;
    height: 100%;
}

ul img{
   display: block;
   margin: auto;
   width:80px;
   height:80px;
   margin: auto;
}

li{
	text-align:center;
	color: white;
}
li a{
	display: block;
	color: white;
    padding: 20px 20px;
	text-decoration: none;
}
li a:hover {
  background-color: white;
  color: black;
}
.text{
	margin-left:25%;
	padding:1px 16px;
	height:1000px;
}